@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.metin {
  white-space: nowrap; /* Satır sonlarına gelindiğinde metni bir sonraki satıra geçirme */
  overflow: hidden; /* Aşırı taşmayı gizle */
  text-overflow: ellipsis; /* Aşırı taşan metni "..." ile göster */
}
